@font-face {
    src: url(fonts/Inconsolata-Regular.ttf);
    font-family: inconsolata;
}

@font-face {
    src: url(fonts/Rakkas-Regular.ttf);
    font-family: rakkas;
}

html {
    scrollbar-color: rgb(50, 50, 50) rgb(150, 150, 150);
    scrollbar-width: thin;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: rgb(234, 234, 238);
}

p {

    font-size: 20px;
    font-family: inconsolata;
    text-align: left;
    color: rgb(50, 50, 50);
    text-decoration: none;
    line-height: 150%;
}

.nav_bar {
    white-space: nowrap;
    position: relative;
    margin-top: 2.8vh;
    margin-left: 1.4vw;
    margin-right: 1.4vw;
    line-height: 7vh;
    border: none;
    background: none;
    color: rgb(234, 234, 238);
    text-decoration: none;
}

.nav_bar:hover {
    color: rgb(210, 210, 210);
}

.nav_bar:active {
    color: rgb(190, 190, 190);
}

.error_nav_bar {
    color: black;
}

.header_locations {
    font-family: inconsolata;
    font-size: 22px;

}

.header_title {
    margin: 0;
    position: absolute;
    left: 40vw;

    margin-top: 5px;

    font-family: rakkas;
    font-size: 40px;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}