sup,
sub {
    line-height: 0;
}

.content {
    flex: 1;

    margin-left: 10vw;
    margin-right: 10vw;

    margin-top: 70px;
    margin-bottom: 50px;
}

.main_title {
    font-size: 64px;
    line-height: 100%;
    font-family: rakkas;
    text-align: left;
    text-transform: uppercase;
}

.sub_title {
    margin-top: 20px;
    font-size: 50px;
    line-height: 100%;
    font-family: rakkas;
    text-align: left;
    text-transform: uppercase;
}

.sub_heading {
    font-size: 32px;
    line-height: 100%;
    font-family: rakkas;
    text-align: left;
    text-transform: uppercase;

    margin-top: 80px;
    margin-bottom: 20px;
}

.sub_heading_centre {
    text-align: center;
    text-transform: none;
}

.info_bar {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 40px;

    margin-top: 20px;
}

#info_bar_type {
    flex: 1;
}

.info_bar_section {
    overflow: visible;

}

.info_bar_header {
    font-family: inconsolata;
    font-size: 20px;
}

.info_bar_value {
    font-family: inconsolata;
    font-size: 24px;
    font-weight: bold;
}

.img_txt_section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    gap: 100px;
}

.img_txt_section_txt,
.img_txt_section_img_div {
    flex: 1;
}

.proj_p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.img_txt_section_img {
    width: 100%;

    border-radius: 10px;
}

.no_border_radius {
    border-radius: 0px;
}

.break_spacer {
    margin-top: 50px;
}

.txt_section {
    font-size: 24px;
    font-family: inconsolata;
    text-align: left;
    color: #000000;
    text-decoration: none;
    line-height: 150%;
}

.txt_section_indent {
    text-indent: 50px;
    margin-bottom: 20px;
    line-height: 170%;
}

.txt_section_hanging_indent {
    padding-left: 90px;
    text-indent: -90px;
    line-height: 200%;
}

.dual_imgs_div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    gap: 100px;
}

.dual_imgs_single {
    flex: 1;
}

.dual_imgs_img {
    width: 100%;
    border-radius: 10px;
}

.image_desc {
    font-size: 20px;
    font-family: inconsolata;
    text-align: left;
    color: rgb(50, 50, 50);
    text-decoration: none;
    line-height: 150%;
}

.cust_anchor {
    color: #1470AF;
}

.cust_anchor:visited {
    color: #1470AF;
}

.single_imgs_div {
    border-radius: 10px;

    overflow: hidden;
    overflow-x: auto;

    scrollbar-color: rgb(50, 50, 50) rgb(150, 150, 150);
    scrollbar-width: thin;
}

.single_imgs_img {
    height: 100%;
    border-radius: 10px;
}

.single_imgs_img_smaller {
    width: 500%;
    border-radius: 10px;
}

.image_desc {
    font-size: 20px;
    font-family: inconsolata;
    text-align: left;
    color: rgb(50, 50, 50);
    text-decoration: none;
    line-height: 150%;
}

table {
    width: 100%;

    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    border-color: rgb(50, 50, 50);

    font-size: 20px;
    font-family: inconsolata;
}

td,
th {
    border: 1px solid rgb(190, 190, 190);
    border-color: rgb(50, 50, 50);
    padding: 10px 20px;
}

th {
    background-color: rgb(214, 214, 218);
}

td {
    text-align: center;
}

tr:nth-child(even) td {
    background-color: rgb(234, 234, 238);
}

tr:nth-child(odd) td {
    background-color: rgb(229, 229, 233);
}

.th_cluster {
    width: 16%;
}

.th_sd_m {
    width: 14%;
}

.td_cluster_heading {
    text-align: left;
}

.tbl_footer {
    font-size: 15px;
    font-family: inconsolata;
}

.img_section_single_img {
    width: 75%;

    /*
    display: block;
    margin-left: auto;
    margin-right: auto;
    */

    border-radius: 10px;
}

.img_section_single_img_SVG {
    width: 100%;
}

.a_references {
    color: #1470AF;
}

.a_references:visited {
    color: #1470AF;
}

.ul_li_proj {
    font-size: 24px;
    font-family: inconsolata;
    text-align: left;
    color: #000000;
    text-decoration: none;
    line-height: 150%;
}
